<div class="container">
    <h1 class="blogs1">Blogs</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="blogs">
                <a mat-button routerLink="/blogs/blog-details">
                    <h2>1. Creative People Are Not The Pressure Cooker - Understanding The Misconception</h2>
                    <!--<img src="assets/img/blogs.png">-->
                    <!--<p></p>-->
                </a>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="blogs">
                <a mat-button routerLink="/blogs/blog-details">
                    <h2>2. Best Universities for learning UX UI Courses</h2>
                    <!--<img src="assets/img/blogs.png">-->
                    <!--<p>Description Here...</p>-->
                </a>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="blogs">
                <a mat-button routerLink="/blogs/blog-details">
                    <h2>3. Understanding the Role of a User Experience Designer</h2>
                    <!--<img src="assets/img/blogs.png">-->
                    <!--<p>Description Here...</p>-->
                </a>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="blogs">
                <a mat-button routerLink="/blogs/blog-details">
                    <h2>4. User Experience (UX) design with Artificial Intelligence (AI)</h2>
                    <!--<img src="assets/img/blogs.png">-->
                    <!--<p>Description Here...</p>-->
                </a>
            </div>
        </div>

    </div>
</div>