


<div class="container">
    <h1 class="projects">Projects</h1>
    <div class="row">

        <div class="col-lg-6">
            <div class="projects1">
                <h2>Barriers International</h2>
                <ul>
                    <li>Software: Photoshop, HTML, MailChimp</li>
                </ul>
                <p><a href="https://barriersint.com/" target="_blank">https://barriersint.com/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>Bharat Arth Andolan</h2>
                <ul>
                    <li>Software: Photoshop, HTML, MailChimp</li>
                </ul>
                <p><a href="https://www.bharatarthandolan.com/" target="_blank">https://www.bharatarthandolan.com/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>Find it Parts</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="https://www.finditparts.com/" target="_blank">https://www.finditparts.com/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>High-end Adventourist</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="https://www.adventourist.in/" target="_blank">https://www.adventourist.in/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>Home Trainer</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="http://www.hometrainer.in/" target="_blank">http://www.hometrainer.in/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>ICICI Bank</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="https://www.icicibank.com/" target="_blank">https://www.icicibank.com/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>IDBI Bank</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="https://www.idbibank.in/" target="_blank">https://www.idbibank.in/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>IndusInd Bank</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="https://www.indusind.com/in/en/personal.html" target="_blank">https://www.indusind.com/in/en/personal.html</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>JP Morgan</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="https://www.jpmorgan.com/global" target="_blank">https://www.jpmorgan.com/global</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>Labrador Systems</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="https://labradorsystems.com/" target="_blank">https://labradorsystems.com/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="projects1">
                <h2>Mumbai Interiors</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="https://www.mumbaiinteriors.com/" target="_blank">https://www.mumbaiinteriors.com/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>Open Atelier Mumbai</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="https://www.openateliermumbai.com/" target="_blank">https://www.openateliermumbai.com/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>Reliance limited</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="https://www.ril.com/" target="_blank">https://www.ril.com/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>Tata Capital Pvt. Ltd.</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="https://www.tatacapital.com/" target="_blank">https://www.tatacapital.com/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>The Creative Minds</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="http://www.thecreativeminds.co.in/" target="_blank">http://www.thecreativeminds.co.in/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>Trrulee North Ideas</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="https://www.trruleenorthideas.com/" target="_blank">https://www.trruleenorthideas.com/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>Vizkingdom</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="https://vizkingdom.com/" target="_blank">https://vizkingdom.com/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="projects1">
                <h2>Yes Bank</h2>
                <ul>
                    <li>Software: Photoshop, Figma</li>
                </ul>
                <p><a href="https://www.yesbank.in/" target="_blank">https://www.yesbank.in/</a></p>
                <p>#graphic #design #career #user #experience #interface #ux #ui</p>
            </div>
        </div>

<!--
Kruti Foundation
Reva Associates
-->

    </div>
</div>
